body{margin:300px;}
p{
	Font-size:22px;
	font-family:Times New Roman}
Body{
	background-color:white;}

h1{
	font-size:45px;
	color:violet;
	text-align:center;
}
h2{
	color:slateblue;
}
h3{
	color:slateblue;
	font-size:24px;
}
h4{color:slateblue;
	font-size:22px;
}
h5{
	color:slateblue;
	font-size:22px;
}
h6{
	color:slateblue;
	font-size:22px;
}








